header {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

section {
    height: 100vh;
}

body,
html {
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url("src/images/pexels-iriser-1366957.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

nav {
    float: right;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

nav li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #04b7c1;
    font-weight: bold;
    box-shadow: 0 8px 16px rgba(4, 183, 193, 0.3);
}

nav a.active-home {
    color: #04b7c1;
    font-weight: bold;
    box-shadow: 0 8px 16px rgba(4, 183, 193, 0.3);
}

nav:hover a.active-home:not(:hover) {
    color: white;
    font-weight: normal;
    box-shadow: none;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

@keyframes display-content {
    0% {
        top: -200px;
        opacity: 0;
        visibility: hidden;
    }

    100% {
        top: 100px;
        opacity: 1;
        visibility: visible;
    }
}

.hero {
    position: relative;
    width: 40%;
    margin-left: 20%;
}

.button-2 {
    margin-left: 50px;
}

.button-4 {
    position: relative;
    background: transparent;
    box-shadow: none;
    background: transparent;
    color: #04b7c1;
    padding: 5px;
    border: 2px solid #04b7c1;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    height: 70px;
    align-items: center;
}

.button-4 .number {
    padding-left: 28%;
    font-size: 20px;
    color: #04b7c1;
}

.button-4 .label {
    font-size: 14px;
    color: #04b7c1;
}

.hero h1,
.hero .button-2,
.hero .button-3,
.button-4,
.about-me {
    position: relative;
    animation: display-content 1.5s ease-out 1.2s forwards;
    visibility: hidden;
}

.hero h1 {
    position: relative;
    top: 100px;
    color: #04b7c1;
}

.high-light {
    color: white;
}

.my-name {
    padding-top: 15px;
    font-size: 17px;
    color: #04b7c1;
    font-weight: bold;

}

.profile-img {
    width: 140px;
    height: 200px;
    border-radius: 5%;
    object-fit: cover;
    margin: 20px auto 10px;
    background-color: #eee;
}

.card {
    flex-shrink: 0;
    margin-top: 50px;
    margin-left: 15px;
    width: 180px;
    height: 500px;
    background-color: #000508;
    border-radius: 10px;
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.4);
    text-align: center;
    position: fixed;
}

.title {
    margin-top: 15px;
    font-size: 15px;
    color: #04b7c1;
    margin-bottom: 15px;
    font-weight: bold;
}

.subtitle {
    font-size: 14px;
    color: #04b7c1;
    margin-bottom: 20px;
    font-weight: 300;
}

.button-1 {
    display: inline;
    margin-top: 20px;
    background-color: #04b7c1;
    border: 2px solid #04b7c1;
    border-radius: 40px;
    box-shadow: 0 0 10px #04b7c1;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 15px;
    color: #000508;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
}

.button-1:hover {
    background: transparent;
    color: #04b7c1;
    box-shadow: none;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    color: #04b7c1;
    padding: 6px;
    font-size: 20px;
    transition: .5s;
    border-radius: 50%;
}

.social-media a:hover {
    background: #04b7c1;
    color: #000508;
    box-shadow: 0 0 10px #04b7c1;
}

.button-2,
.button-3 {
    position: relative;
    background: transparent;
    box-shadow: none;
    background: transparent;
    color: #04b7c1;
    padding: 5px;
    border: 2px solid #04b7c1;
    border-radius: 40px;
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}

.button-2:hover,
.button-3:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(4, 183, 193, 0.3);
}

.about-me {
    font-size: 17px;
    color: #04b7c1;
    font-weight: bold;

}

.about-me-section {
    margin-top: 10px;
    margin-left: 20%;
}